:root {
  --color-primary-950: #0d2617;
  --color-primary-900: #204730;
  --color-primary-800: #265538;
  --color-primary-700: #2a6b42;
  --color-primary-600: #328751;
  --color-primary-500: #42a566;
  --color-primary-400: #67c188;
  --color-primary-300: #9bdab2;
  --color-primary-200: #c7ebd4;
  --color-primary-100: #e2f6e9;
  --color-primary-50:  #f3faf5;

  --color-danger-main: #fc5050;
  --color-danger-dark: #f63131;
  --color-danger-light: #f97171;

  --color-gray-800: #333333;
  --color-gray-700: #393939;
  --color-gray-600: #444444;
  --color-gray-500: #585858;
  --color-gray-400: #A2A2A2;
  --color-gray-100: #E7E7E7;

  --color-theme-light: #fafafa;

  /* Backgrounds */
  --bg-main: var(--color-theme-light);
  --bg-navbar: var(--color-gray-800);
}

* {
  font-family: Sora;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
  line-height: 150%
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%
}

h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%
}

button {
  background-color: var(--color-primary-400);
  color: var(--color-gray-100);
}

button:hover {
  background-color: var(--color-primary-700);
}
